@use "../../assets/scss/mixins/responsive";

.section-header {
  display: block;
  padding: 1.25rem 1.5rem;
  background-color: rgba(15, 23, 42, 0.75);
  margin-bottom: 1rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  z-index: 20;
  top: 0;
  position: sticky;
  backdrop-filter: blur(5px);

  @include responsive.responsive("tablet") {
    display: none;
  }

  h2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: white;
    margin-top: 1rem;
  }
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: apparition 1.5s ease-out;
  animation-fill-mode: both;
  @keyframes apparition {
    from {
      opacity: 0;
      transform: translateX(-900px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .project-item__content {
    img {
      width: 85%;
      object-fit: cover;
      order: 2;
      @include responsive.responsive("tablet") {
        order: 1;
      }
    }

    & img:hover {
      transform: scale(1.1);
      transition: 1.5s;
      opacity: 0.8;
    }
    .logo {
      width: 50px;
      height: 50px;
    }
  }

  .project-item {
    &__content {
      display: flex;
      flex-direction: column;
      order: 1;

      @include responsive.responsive("tablet") {
        order: 2;
      }

      h2,
      p {
        color: #94a3b8ff;
      }

      h2 {
        font-weight: 700;
        font-size: 30px;
      }
    }
  }
}

#presentation {
  display: flex;
  flex-direction: column;
  margin: auto;
  animation: apparition 1.5s ease-out;
  animation-fill-mode: both;
  @keyframes apparition {
    from {
      opacity: 0;
      transform: translateX(-900px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.container {
  display: flex;

  .allitem {
    width: 90%;
  }

  .container-item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  .container-item img {
    width: 35%;
    height: 35%;
    margin-bottom: 10px;
  }
}

.skills {
  animation: apparition 1.5s ease-out;
  animation-fill-mode: both;
  @keyframes apparition {
    from {
      opacity: 0;
      transform: translateX(-900px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.logo-contenaire {
  display: flex;
  gap: 10px;
}
